html, body { 
    font-family: 'Helvetica', sans-serif;
    font-size: 14px; 
    text-align: center; 
} 

a:link {text-decoration: none; color: gray;}
a:visited {text-decoration: none; color: gray;}
a:active {text-decoration: none; color: gray;}
a:hover {text-decoration: underline; color: red;}

img {
    border-style: none;
}

#text { 
	margin: auto; 
	text-align:left;
} 

#titles { 
	text-align:center;
    background-color: #990000;
    color: #FFFFFF;
    padding: 5px; 
}

#logos {
    text-align:center;
}

#donateButton {
    position: absolute;
    top: 0px;
    left: 900px;
    background-color:#990000;
    color: #FFFFFF;
    font-size: 10px;
}

#donateButtonInline {
    background-color:#990000;
    color: #FFFFFF;
    font-size: 10px;
    width: 120px;
}